@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin:0 auto;
    padding:0 auto;
    box-sizing:border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
  }
 :root {
    --red: #c0120c;
    --blue:#271db2;
    --purple: #00fb19;
    
} 
#wrapper{
    overflow-y:auto;
    overflow-x: hidden;
    background-color: #000000;
  
}
.grid-container {
    display: grid;
    grid-template-areas:
      "section1 navbar   section3"
      "section1 section2 section3"
      "section1 section4 section3";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 20px auto 20px;
    height: 100vh;
    background-color: #000000;
  }
  
  .navbar {
    grid-area: navbar;
    background-color: #000000;
    color: white;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items:center;
    padding-top:.5rem;
    padding-bottom: .5rem;

  }
.nav-items{
    /* display:flex; */
    justify-self: center;
    gap:2rem;
    padding: 0 4em;
}

.nav-items div{
    font-size:30px;
    font-weight:500;
    cursor:pointer;
   
}
.nav-items div a{
    color:rgb(255, 255, 255);
}
#heading{
    font-size: 150px;
    background: -webkit-linear-gradient(0deg, #494444 0%, #16b433 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* #go{
    color: #00fb19;
} */
a{
    text-decoration: none;
}


.nav-items div:hover{
    transition:0.8s;
    font-weight: bold;
}
  
.section1 {
    grid-area: section1;
    background-color: black;
    color: black;
    width: 100%;
}
  
.section2 {
    grid-area: section2;
    padding: 10px;
    width: 100%;
    width: 100%;
    height: 100%; 
}
  
.section3 {
    grid-area: section3;
    display: grid;
    grid-template-areas:none;
    background-color: black;
    color: black;
    padding: 10px;
    width: 100%;
    height: 100%;
}
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(35, 17, 17, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin-top: 10rem;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #ffebeb;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;

  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ece6e6;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff3f3;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--purple);
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--purple);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: var(--purple);
    color: #131010;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--purple),
                0 0 25px var(--purple),
                0 0 50px var(--purple),
                0 0 100px var(--purple);
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--purple));
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--purple));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--purple));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--purple));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  /* .child{
    background:white;
    width:100%;
    height:100%;
    display:grid;
    place-items:center;
    font-size:3em;
    font-weight:bold;
    object-fit: cover;
    
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 040px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2;background-image: url(images/img1.webp);}
    .div2 { grid-area: 1 / 1 / 3 / 2;background-image: url(images/img2.webp); }
    .div3 { grid-area: 2 / 3 / 4 / 4;background-image: url(images/img3.webp); }
    .div4 { grid-area: 2 / 2 / 3 / 3;background-image: url(images/img4.webp)}
    .div5 { grid-area: 3 / 2 / 4 / 3;background-image: url(images/img5.webp)}
    .div6 { grid-area: 3 / 1 / 4 / 2;background-image: url(images/img6.webp); }
    .div7 { grid-area: 1 / 2 / 2 / 3;  background-image: url(images/img7.webp)}
    .div8 { grid-area: 1 / 3 / 2 / 4;background-image: url(images/img8.webp);}
    .div9 { grid-area: 4 / 1 / 5 / 2;  background-image: url(images/img9.webp)}
    .div10 { grid-area: 4 / 2 / 5 / 3;  background-image: url(images/img10.webp)}
    .div11 { grid-area: 4 / 3 / 5 / 4;background-image: url(images/img11.webp);;}
    .div12 { grid-area: 1 / 4 / 3 / 5;background-image: url(images/img12.webp);}
    .div13 { grid-area: 3 / 5 / 5 / 6;  background-image: url(images/img13.webp)}
    .div14 { grid-area: 2 / 6 / 4 / 7; background-image: url(images/img14.webp);}
    .div15 { grid-area: 2 / 5 / 3 / 6;  background-image: url(images/img15.webp)}
    .div16 { grid-area: 1 / 5 / 2 / 6;  background-image: url(images/img16.webp)}
    .div17 { grid-area: 1 / 6 / 2 / 7;  background-image: url(images/img17.webp)}
    .div18 { grid-area: 3 / 4 / 4 / 5;background-image: url(images/img18.webp);}
    .div19 { grid-area: 4 / 4 / 5 / 5; background-image: url(images/img19.webp) }
    .div20 { grid-area: 4 / 6 / 5 / 7; background-image: url(images/img20.webp);} */